.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #ffffff;
  width: 60vw;
  /* max-height: 70vh; */
  border-radius: 15px;
  padding: 20px;
}

.modalTitle {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
